html{
    font-family: 'Seymour One', sans-serif, Arial;
}

body{
    background-color: #f5bb06;
    opacity: 1;
    background-image:  linear-gradient(#663399 1.9000000000000001px, transparent 1.9000000000000001px), linear-gradient(to right, #663399 1.9000000000000001px, #f5bb06 1.9000000000000001px);
    background-size: 38px 38px;
}

@keyframes left-right {
    
    0% {
        margin-left: -650px;
    }
    
    100% {
          margin-left: 7.8px;
    }
}

@keyframes transparencia {
    
    0% {
        color: rgb(red, green, blue, 0%);
    }
    
    100% {
        color: rgb(red, green, blue, 100%);
    }
}


.bg-color-1{
    background-color: #ffdd55;
}

.bg-color-2{
    background-color: #fcc602;
}

.bg-color-3{
    background-color: #f5bb06;
}

.bg-color-4{
    background-color: #663399;
}

.bg-color-5{
    background-color: #522888;
}

.color-1{
    color: #ffdd55;
}

.color-2{
    color: #fcc602;
}

.color-3{
    color: #f5bb06;
}

.color-4{
    color: #663399;
}

.color-5{
    color: #522888;
}

.container{
    margin-left: 100px;
    margin-top:  100px;
}


.left-right {
    margin-top: 7.8px;
    margin-left: 7.8px;
    width: 378.1px;
    height: 530.2px;
    animation: left-right 6s;
}

.animation-transparencia{
    animation: transparencia 6s;
}

.display-flex {
    display: flex;
    flex-direction: row;
}

.name-title{
    margin-top: 145px;
    margin-left: 15px;
    color: #f5bb06;
}

.background-name-title{
    background-color: #522888;
    margin-top: 145px;
    margin-left: 600px;
    position: absolute;
    width: 100px;
    height: 37px;
}